{% extends 'base.html.twig' %}

{% block title %}Game BOR{% endblock %}
{% block body %}
    <div class="">
        {% if lastPic %}
            <img src="{{ asset(lastPic.path) }}"
                 class=""
                 alt="Last uploaded picture">
        {% else %}
            <div class="alert alert-info">No pictures uploaded yet.</div>
        {% endif %}
    </div>
{% endblock %}